@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --bg: #0D1117;
    --primary: #4ECCA3;
    --secondary: #2AC7A9;
    --accent: #A6F0C6;
    --card: #1F2937;
    --border: #374151;
    --text: #F9FAFB;
    --success: #34D399;
    --warning: #FBBF24;
    --error: #EF4444;
    --info: #3B82F6;
}

* {
    font-family: 'Inter', sans-serif;
}

.bg-grid {
    background-color: #121212;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAiIGhlaWdodD0iNjAiIHZpZXdCb3g9IjAgMCA2MCA2MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9InJnYmEoMCwgMCwgMCwgMCkiIGQ9Ik0wIDBoNjB2NjBIMHoiLz48cGF0aCBkPSJNNjAgMHY2MEgwVjBoNjB6IiBzdHJva2U9InJnYmEoMjU1LCAyNTUsIDI1NSwgMC4wNSkiLz48L2c+PC9zdmc+');
    background-size: 70px 70px;
}
  


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 8px;
    transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(20, 184, 166, 0.8);  
}

::-webkit-scrollbar-corner {
    background: transparent;
}

* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

body {
    -ms-overflow-style: none;
}
